[core]
	editor = vi
	excludesfile = ~/.gitignore_global
[user]
	name = Tanachat Nilanon
	email = tnilanon@users.noreply.github.com
	signingkey = 1DE788C7A9B3B34E
[push]
	default = simple
[alias]
	alias = !git config --list | grep alias | cut -c 7- | sed \"s/^\\([^=]*\\)=/$(tput setaf 3)$(tput bold)\\1 $(tput setaf 1)=$(tput sgr0) /\"
	ignore = "!gi() { curl -L -s https://www.gitignore.io/api/$@ ; }; gi"
	ls = log --decorate --graph --oneline
	ll = log --decorate --graph --numstat --pretty=tformat:"%C(yellow)%h\\ %C(red)%G?\\ %C(green)%cd\\ %Creset%s\\ %C(blue)[%cn]%C(red)%d" --date=short
	ll-commit = "!gf() { git ll "$1"^.."$1"; }; gf"
	diff-commit = "!gf() { git diff "$1"^.."$1"; }; gf"
	st = status --short --branch
	update = pull --ff-only --rebase=preserve --all --prune
